.CommentList {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.Comment-item {
  width: 550px;
  word-wrap: break-word;
}
