.CommentSubmitForm {
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 92px;
}

.CommentSubmitForm p {
  padding: 0px;
  margin: 0px;
}

.CommentSubmitForm-form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.CommentSubmitForm-form_container p {
  font-size: 12px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

.CommentSubmitForm-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.CommentSubmitForm-form textarea {
  height: 76px;
  width: 100%;
  font-family: Arial;
  resize: none;
  padding: 5px;
}

.CommentSubmitForm-btn_group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CommentSubmitForm-form button {
  width: fit-content;
}
